body {
	background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_ExHtWfSsLJvAKNM6LRrg8wAz4WQeLqUmdA&s");
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	color: beige;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

img {
	display: block;
}
